

:root {
    --color-fondo: #1F2128;
    --color-principal1: #255e3c;
    --color-principal: #304136;
    --color-secundario: rgb(217, 170, 31);
    --color-oscuro-2: #242731;
    --color-blanco: #FFFFFF;
    --color-negro: #000000;
}

html {
    height: -webkit-fill-available;
    height: 100%;
    font-family: "Josefin Sans", sans-serif;
}

body {
    display: flex;
    color: var(--color-principal)!important;
    height: 100%;
    height: -webkit-fill-available;
    margin: 0;
    background-image: url("/drivedoctor/static/background.jpg")!important;
    background-size: cover;


}

.home-page{
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    align-self: center;
    color:white;
    text-shadow:
            1px 1px 0px black,
            -1px 1px 0px black,
            1px -1px 0px black,
            -1px -1px 0px black;
    align-items: self-end;
    position: absolute;
    top: 25%;
    right: 10%;
}
main {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}



.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--color-negro);
}

tbody a{
    text-decoration: none;
    color:white !important;
}

img {
    width: 30%;
    height: 35%;
}

.login a{
    text-decoration: none;
    color:white !important;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn.boton-principal {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    text-align: center;
    text-decoration: none;
}

.btn.boton-secundario {
    background-color: var(--color-fondo);
    border: 2px solid var(--color-principal);
    color: var(--color-blanco);
    text-align: center;
    text-decoration: none;
}
.btn.boton-secundario:hover {
    border: 2px solid var(--color-blanco);
}
.buscador {
    width: 30%;
}

.colorOscuro-2 {
    background-color: var(--color-principal);
}

.btn-outline-dark {
    background-color: var(--color-principal)!important;
    color: var(--color-blanco);
    width:100%;
}

.btn-outline-dark:hover {
    border-color: var(--color-blanco);
}

.nav-link:hover {
    background-color: #8b8b8b29 !important;
    color: var(--color-blanco) !important;
}

.nav-link.active {
    background-color: rgba(144, 142, 142, 0.21) !important;
    color: var(--color-blanco) !important;
}
.table.table-striped.custom-table{
    background-color:var(--color-oscuro-2);
    color: var(--color-blanco);
    margin-top: 15px;
}
.table.table-striped.custom-table td{
    color: var(--color-blanco);
}
.table.table-striped.custom-table tbody tr:nth-child(odd){
    background-color: var(--color-fondo);
}

.form-signin-heading{
    justify-content: center;
}
.inpt-dsbl{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.inpt-dsbl div{
    display:flex;
    flex-direction: column;

    margin:0.5%;
}

.inpt-dsbl input{
width: 90%;
}

.confirmaDlt{
    z-index: 9000;
}

.cancel-modif{
    text-decoration: none;
    color:white !important;
}

.home-page{
    width: 70%;
}