html{
    height: -webkit-fill-available;
    height: 100%;
}
body {
    display: flex;
    color: white;
    background-color: #1F2128;
    height: 100%;
    height: -webkit-fill-available;
    margin: 0;
}
main{
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}
.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 30%;
    height: 35%;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.boton-principal {
    margin-top: 10px;
    background-color: #A162F7;
    color: white;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.boton-secundario {
    background-color: #0d6efd;
    color: white;
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

.buscador {
    width: 30%;
}

.colorOscuro-2 {
    background-color: #242731;
}

.btn-outline-dark {
    background-color: #FFFFFF;
    color: #1F2128;
    border: 2px solid #A162F7;
}

.btn-outline-dark:hover {
    background-color: #A162F7;
    color: white;
    border-color: #A162F7;
}
.nav-link:hover{
    background-color: #8b8b8b29 !important;
    color: white !important;
}
.nav-link.active {
    background-color: rgba(161, 98, 247, 0.45) !important;
    color: white !important;
}
