
<div class="d-flex flex-column flex-shrink-0 p-3 text-white colorOscuro-2 h-100" style="width: 280px;">
    <a th:href="@{/home}"  class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">

        <span class="fs-4 kanit-bold-italic">DRIVE DOCTOR</span>
    </a>
    <span id="nombreUsuario" class="fs-8 kanit-regular" th:if="${session.ID!=null}" th:text="'Hola, ' + ${session.name}"></span>
    <hr>
    <div th:if="${session.ID!=null}" class="kanit-regular">
    <ul class="nav nav-pills flex-column mb-auto">
        <li  class="nav-item">
            <a id="misVehiculos" th:if="${session.rol!='ADMIN'}" th:href="@{/verMisVehiculos}" class="nav-link text-white">
                Mis vehículos
            </a>
        </li>
        <li  class="nav-item">
            <a id="agregarVehiculo" th:if="${session.rol!='ADMIN'}" th:href="@{/nuevo-vehiculo}" class="nav-link text-white">
                Agregar Vehículos
            </a>
        </li>
        <li  class="nav-item">
            <a th:if="${session.rol=='ADMIN'}" th:href="@{/sintoma}" id="irSintoma"  class="nav-link text-white">
                Administrar Diagnosticos
            </a>
        </li>
        <li  class="nav-item">
            <a th:if="${session.rol=='ADMIN'}" th:href="@{/adminVehiculos}"  class="nav-link text-white">
                Administrar Vehiculos
            </a>
        </li>
        <li  class="nav-item" style="align-self: end">
            <a th:href="@{/logout}" id="logout"  class="nav-link text-white">
                Cerrar Sesión
            </a>
        </li>
    </ul>
    </div>
    <div th:if="${session.ID == null}" class="kanit-regular">
        <ul class="nav nav-pills flex-column mb-auto">
        <li  class="nav-item" style="align-self: end">
            <a th:href="@{/login}" id="login"  class="nav-link text-white">
                LogIn
            </a>
        </li>
        </ul>
    </div>
    <hr>
</div>

