<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Vehiculos</title>
    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<main>
    <!-- Incluir el fragmento del sidebar -->
    <div th:include="templates/sidebar.html"></div>

    <div class="container kanit-regular" style="margin-top:50px;" >
        <a th:if="${session.rol=='ADMIN'}" th:href="@{/nuevaMarca}" class="btn boton-principal mr-2">Nueva Marca</a>
        <a th:if="${session.rol=='ADMIN'}" th:href="@{/nuevoModelo}" class="btn boton-principal mr-2">Nuevo Modelo</a>

        <span th:if="${mensaje!=null}" th:text="${mensaje}"></span>
    </div>

</main>



<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
</body>
</html>

