<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagnósticos Relacionados</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- Custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <style>
        .diagnostico-container {
            margin-top: 50px;
        }
    </style>
</head>
<body>
<main>

    <!-- Incluir el fragmento del sidebar -->
    <div th:include="templates/sidebar.html"></div>

    <div class="container diagnostico-container">
        <h2>Diagnósticos</h2>
        <div th:if="${mensaje}">
            <p class="alert alert-warning" th:text="${mensaje}"></p>
        </div>
        <div >
            <h2>Recomendaciones: </h2>
            <div th:each="diagnosticos : ${diagnosticos}">
                <p><span th:text="${diagnosticos.descripcion}"></span></p>
            </div>
            <form action="#" th:action="@{/guardarDiagnostico}" method="POST" th:if="${mensaje == null}">
                <input type="hidden" id="idVehiculo" name="idVehiculo" th:value="${idVh}" >
                <div th:each="diagnosticos : ${diagnosticos}">
                    <input type="hidden" name="idDiagnostico" id="idDiagnostico" th:value="${flagItem} ? ${diagnosticos.idItemTablero} : ${diagnosticos.idDiagnostico}">
                </div>
                <div th:each="sintoma : ${sintoma}">
                    <input type="hidden" name="idSintoma" id="idSintoma" th:value="${sintoma.idSintoma}">
                </div>
                <button type="submit" class="btn boton-principal">Guardar diagnóstico</button>
            </form>
        </div>
        <div class="d-flex gap-5 mt-3">
            <a class="btn btn-diagnostico btn-sm mt-2" href="/drivedoctor/showMap">Buscar Talleres en Google Maps</a>
            <a class="btn btn-porcentaje btn-sm mt-2" th:href="@{/verMisVehiculos}">Volver</a>
        </div>
    </div>

</main>

<!-- Scripts de Bootstrap al final del body para mejorar el rendimiento -->
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRUoZVbMCB_sZ_o5ajz7ZYZ8DYT-JFh78&libraries=places,geometry&callback=initMap"></script>
<script src="/resources/core/js/apiGoogleMaps.js"></script>

</body>
</html>
