<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seleccionar Items del Tablero</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="mb-4">Seleccionar Items del tablero y Síntomas </h1>
      <form th:action="@{/mostrarSintomasDependiendoItems}" method="post">
        <div class="form-group">
          <label for="itemsTablero">Seleccione los items del tablero:</label>
          <select class="form-control" id="itemsTablero" name="itemsTablero[]" multiple>
            <option th:each="opcion : ${opcionesItemsTablero}" th:value="${opcion}" th:text
                    ="${opcion}"></option>
          </select>
        </div>
        <div class="form-group">
          <label for="itemsTablero">Seleccione síntomas:</label>
          <select class="form-control" id="sintomas" name="sintomas[]" multiple>
            <option th:each="opcion : ${opcionesSintomas}" th:value="${opcion}" th:text="${opcion}"></option>
          </select>
        </div>
        <button type="submit" class="btn btn-outline-dark">Mostrar Síntomas</button>
      </form>
    </div>
  </div>
</div>

<!-- Bootstrap JS (opcional, si necesitas funcionalidad de Bootstrap) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
