<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>DriveDoctor</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


</head>

<body>
<main role="main" class="container">

    <div class = "container d-flex justify-content-center login">
        <div id="loginbox" style="margin-top:80px; width:30%;" class="mainbox col-md-6 col-sm-8">
            <form action="#" th:action="@{/validar-login}" method="POST" th:object="${datosLogin}" class="loginForm">
                <img src="/drivedoctor/static/DD1.png ">
                <h1 class="form-signin-heading kanit-bold-italic">DRIVE DOCTOR</h1>
                <h2 class="form-signin-heading kanit-bold-italic">Login</h2>
                <hr class="color graph"><br>

                <label class="kanit-regular">Correo electrónico </label>
                <input th:field="*{email}" name="email" id="email" type="email" class="form-control" required/>
                <label class="kanit-regular">Contraseña </label>
                <input th:field="*{password}" name="password" type="password" id="password" class="form-control" required/>

                <button id="btn-login" class="btn boton-secundario form-control kanit-regular" Type="Submit" style="margin-top: 10px">Login</button>

                <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
                </p>
            </form>
            <div style="margin-top: 10px">

                <a  class="btn btn-outline-dark" id="ir-a-registrarme" href="nuevo-usuario">Registrarme</a>
            </div>
        </div>
    </div>
</main>
<!-- /.container -->

<!-- Boostrap core js -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>

</body>
</html>