<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>DriveDoctor</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
<main role="main" class="container">

    <div class = "container d-flex justify-content-center">
        <div id="loginbox" style="margin-top:80px; width:30%;" class="mainbox col-md-6 col-sm-8">
            <form action="#" th:action="@{/validar-login}" method="POST" th:object="${datosLogin}">
                <h3 class="form-signin-heading">LogIn</h3>
                <hr class="color graph"><br>

                <label>Email: </label>
                <input th:field="*{email}" id="email" type="email" class="form-control" required/>
                <label>Password: </label>
                <input th:field="*{password}" type="password" id="password" class="form-control" required/>

                <button id="btn-login" class="btn boton-secundario form-control" Type="Submit" style="margin-top: 10px">Login</button>

                <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
                </p>
            </form>
            <div style="margin-top: 10px">

                <a  class="btn btn-outline-dark" id="ir-a-registrarme" href="nuevo-usuario">Registrarme</a>
            </div>
        </div>
    </div>
</main>
<!-- /.container -->

<!-- Boostrap core js -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>