<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DriveDoctor</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<!-- Aquí va el contenido de tu página -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/spring/home"><img src="static/logo.png"></a>
</nav>

    <h1>Vehiculos</h1>


<main class="misVH">
    <div>
        <ul  th:each="vehiculo : ${vehiculos}" >
            <li th:text="${vehiculo.marca}"></li>
            <li th:text="${vehiculo.modelo}"></li>
        </ul>
    </div>
    <hr>
    <div class="buscador">

        <h3>Filtrar vehiculos por marca</h3>
        <form action="#" th:action="@{/buscarPorMarca}" method="POST">
            <label>Marca: </label>
            <select name="marca" id="marca" class="form-control" required>
                <option th:each="marca : ${T(com.drivedoctor.dominio.Marca).values()}"
                        th:value="${marca}" th:text="${marca}"></option>
            </select>
            <button id="btn-registrarme" class="btn btn-outline-dark" Type="Submit">Buscar</button>
        </form>
    </div>


</main>

<footer>

</footer>

<!-- Scripts JavaScript -->
</body>
</html>