<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>DriveDoctor</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<main>
    <!-- Incluir el fragmento del sidebar -->
    <div th:include="templates/sidebar.html"></div>

    <div class="container" style="margin-top:50px;">
        <div class="col-md-6">

            <form action="#" th:action="@{/editarVehiculo}" method="POST" th:object="${vehiculo}">
                <h2>Modificar Vehículo</h2>
                <br>
                <input type="hidden" id="id" name="id" th:value="${vehiculo.id}" />
                <div class="inpt-dsbl">
                    <div >
                        <label for="marca">Marca: </label>
                        <input type="text" id="marca" th:value="${vehiculo.marca.nombre}" disabled readonly>
                    </div>
                    <div>
                        <label for="modelo">Modelo: </label>
                        <input type="text" id="modelo" th:value="${vehiculo.modelo.nombre}" disabled readonly>
                    </div>
                </div>

                <label for="anoFabricacion">Modificar Año: </label>
                <input type="number" id="anoFabricacion" th:field="*{anoFabricacion}" class="form-control" value="2000" required/>
                <label for="patente">Modificar Patente: </label>
                <input type="text" th:field="*{patente}" class="form-control" id="patente" required/>

                <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}"></p>
                <button id="btn-registrarme" class="btn boton-principal" Type="Submit">Modificar Vehiculo</button>
                <button class="btn boton-principal" ><a class="cancel-modif" href="/drivedoctor/verMisVehiculos">Cancelar</a></button>
            </form>
        </div>
    </div>

</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
</body>
</html>