<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Síntomas Relacionados</title>
  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<main>
  <!-- Incluir el fragmento del sidebar -->

  <div th:include="templates/sidebar.html" id="menu-lateral"></div>

  <div class="container cards-container" style="margin-top:50px;">

    <div class="subTitulo">
      <h1 class="titulo-cs kanit-bold-italic" >Síntomas Relacionados</h1>
      <a th:href="@{/mostrarSintomaPorItem/{idVehiculo}(idVehiculo=${idVehiculo})}" class="titulo-cs kanit-bold-italic" >Volver a seleccion de área</a>
    </div>
    <div class="row kanit-regular " th:if="${sintomas.size() > 0}" >
        <div class="card col-sm-5 tarjeta" th:each="sintoma : ${sintomas}">
          <div class="card-body">
            <h3 class="card-title" th:text="${sintoma.nombre}"></h3>
            <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
            <div class="cardButton">
              <form th:action="@{/diagnostico}" method="post">
                <input type="hidden" id="idVehiculo" name="idVehiculo" th:value="${idVehiculo}" />
                <input type="hidden" id="idsSintomas" name="idsSintomas" th:value="${sintoma.idSintoma}"/>
                <input type="hidden" name="id" id="id" th:value="${sintoma.diagnostico.idDiagnostico}"/>
                <button type="submit" class="btn btn-diagnostico">Ver recomendación</button>
              </form>
              <form th:action="@{/mostrarPorcentajeDeDaniadoUnSintoma}" method="post">
                <input type="hidden" name="idsSintomas" th:value="${sintoma.idSintoma}"/>
                <button type="submit" class="btn btn-porcentaje">Ver Porcentaje</button>

              </form>
            </div>
          </div>
        </div>

    </div>


    <div th:if="${sintomas.size() == 0}">
      <p th:text="${mensaje}"></p>
    </div>
  </div>

</main>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>

</body>
</html>