<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Síntomas Relacionados</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


    <!-- Custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <style>
        .table td,
        .table th {
            color: white; /* Cambia el color del texto a blanco */
        }
        .table-container {
            max-height: 400px; /* Establece la altura máxima para la tabla */
            overflow-y: auto; /* Agrega desplazamiento vertical */
        }
    </style>
</head>
<body>
<main>
    <!-- Incluir el fragmento del sidebar -->
    <div th:include="templates/sidebar.html"></div>

    <div class="container mt-5">
        <h2 class="mb-4 kanit-bold-italic">Síntomas Relacionados</h2>

        <div class="table-container bg-dark w-75 kanit-regular">
            <table class="table table-striped">
                <thead class="table-dark">
                <tr>
                    <th>Seleccionar</th>
                    <th>Nombre del Síntoma</th>
                </tr>
                </thead>
                <tbody>
                <!-- Iterar sobre los síntomas y mostrar cada uno -->
                <tr th:each="sintoma : ${sintomas}">
                    <td><input type="checkbox" class="sintoma-checkbox" th:data-id="${sintoma.diagnostico.idDiagnostico}"></td>
                    <td class="text-light" th:text="${sintoma.nombre}"></td>
                </tr>
                <input type="hidden" id="idVehiculo" name="idVehiculo" th:value="${idVh}" />
                </tbody>
            </table>
        </div>

        <div class="mt-3">
            <p class="alert alert-warning w-75" th:text="${mensaje}"></p>
        </div>

        <div class="mt-3">
            <span id="selected-count">0 síntomas seleccionados</span>
            <div class="d-flex gap-3 bg-dark p-4 w-25 rounded">
                <a th:if="${mensaje==null}" class="btn btn-diagnostico btn-sm mt-2" id="view-diagnosis" href="#" onclick="viewDiagnosis()">Ver Diagnóstico</a>
                <a th:if="${mensaje==null}" class="btn btn-porcentaje btn-sm mt-2" id="view-porcentaje" href="#" onclick="viewPorcentaje()">Ver porcentaje</a>
            </div>
        </div>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const checkboxes = document.querySelectorAll('.sintoma-checkbox');
        const selectedCount = document.getElementById('selected-count');

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function () {
                const selected = document.querySelectorAll('.sintoma-checkbox:checked').length;
                selectedCount.textContent = `${selected} síntomas seleccionados`;
            });
        });
    });

    function viewDiagnosis() {
        const selectedCheckboxes = document.querySelectorAll('.sintoma-checkbox:checked');
        if (selectedCheckboxes.length > 0) {
            const ids = Array.from(selectedCheckboxes).map(cb => cb.getAttribute('data-id')).join(',');
            console.log(ids);

            // Crear un formulario y enviarlo
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '/drivedoctor/diagnosticos';
            form.style.display = 'none';

            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'idsSintomas';
            input.value = ids;
            form.appendChild(input);

            const inputVh = document.createElement('input');
            inputVh.type = 'hidden';
            inputVh.name = 'idVh';
            inputVh.value = document.getElementById('idVehiculo').value;
            form.appendChild(inputVh);

            document.body.appendChild(form);
            console.log('Formulario enviado', form);
            form.submit();
        } else {
            alert('Por favor seleccione al menos un síntoma.');
        }
    }

    function viewPorcentaje(){
        const selectedCheckboxes = document.querySelectorAll('.sintoma-checkbox:checked');
        if (selectedCheckboxes.length > 0) {
            const ids = Array.from(selectedCheckboxes).map(cb => cb.getAttribute('data-id')).join(',');
            console.log(ids);
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '/drivedoctor/mostrarPorcentajeDeDaniadoUnSintoma';
            form.style.display = 'none';

            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'idsSintomas';
            input.value = ids;
            form.appendChild(input);

            document.body.appendChild(form);
            console.log('Formulario enviado', form);
            form.submit();
        } else{
                alert('Por favor seleccione al menos un síntoma.');
            }
    }
</script>
<!-- Scripts de Bootstrap al final del body para mejorar el rendimiento -->
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>

</body>
</html>

