<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form th:action="@{/crearSintoma}" method="post">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label for="itemTablero">Tipo de Item del Tablero:</label>
                    <select class="form-control" id="itemTablero" name="itemTablero">
                        <option th:each="opcion : ${opcionesItemTablero}" th:value="${opcion}" th:text="${opcion}"></option>
                    </select>
                </div>

                <button type="submit" class="btn btn-outline-dark">Guardar</button>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap JS (opcional, si necesitas funcionalidad de Bootstrap) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

