<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<main>
    <!-- Incluir el fragmento del sidebar -->
    <div th:include="templates/sidebar.html"></div>

    <div class="container" style="margin-top:50px;">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">Nuevo Diagnostico</h2>
                <form th:action="@{/crearDiagnostico}" method="post" th:object="${diagnostico}">

                    <div class="form-group">
                        <label for="descripcion">Descripción:</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" rows="3"></textarea>
                    </div>

                    <div style="margin-top: 10px">
                        <a th:href="@{/sintoma}" class="btn boton-secundario">Volver</a>
                        <button type="submit" class="btn boton-principal">Guardar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>


<!-- Bootstrap JS (opcional, si necesitas funcionalidad de Bootstrap) -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
</body>
</html>
