<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>DriveDoctor</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<main>
    <!-- Incluir el fragmento del sidebar -->
    <div th:include="templates/sidebar.html"></div>

    <div class="container" style="margin-top:50px;">
        <div class="col-md-6 kanit-regular">

            <form action="#" th:action="@{/agregarVehiculo}" method="POST" th:object="${vehiculo}">
                <h2 class="kanit-bold-italic">Agregar Vehículo</h2>
                <br>
                <label for="marca">Marca: </label>
                <select  id="marca" class="form-control" onchange="cargarModelos()" required>
                    <option th:each="marca : ${marcas}" th:value="${marca.id}" th:id="${marca.id}" th:text="${marca.nombre}"></option>
                </select>

                <label for="modeloId">Modelo: </label>
                <select name="modeloId" id="modeloId" class="form-control" required>
                    <option th:each="modelo : ${modelos}" th:value="${modelo.id}" th:text="${modelo.nombre}"></option>
                </select>
                <label for="anoFabricacion">Año: </label>
                <input type="number" id="anoFabricacion" th:field="*{anoFabricacion}" class="form-control" value="2000" required/>

                <label for="patente">Patente: </label>
                <input type="text" th:field="*{patente}" class="form-control" id="patente" required/>
                <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}"></p>
                <button id="nuevoVehiculo" class="btn boton-principal mt-2" Type="Submit">Agregar Vehiculo</button>
            </form>
        </div>
    </div>

</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
<script type="text/javascript" th:src="@{/js/modelByMarca.js}"></script>

</body>
</html>