<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>DriveDoctor</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<main>
    <!-- Incluir el fragmento del sidebar -->
    <div th:include="templates/sidebar.html"></div>

    <div class="container" style="margin-top:50px;">
        <div class="col-md-6">

            <form action="#" th:action="@{/agregarVehiculo}" method="POST" th:object="${vehiculo}">
                <h2>Agregar Vehículo</h2>
                <br>
                <label for="marca">Marca: </label>
                <select th:field="*{marca}" id="marca" class="form-control" required>
                    <option th:each="marca : ${T(com.drivedoctor.dominio.Marca).values()}"
                            th:value="${marca}" th:text="${marca}"></option>
                </select>

                <label for="modelo">Modelo: </label>
                <select th:field="*{modelo}" id="modelo" class="form-control" required>
                    <option th:each="modelo : ${T(com.drivedoctor.dominio.Modelo).values()}"
                            th:value="${modelo}" th:text="${modelo}"></option>
                </select>
                <label for="anoFabricacion">Año de Fabricaión: </label>
                <select id="anoFabricacion" class="form-control">
                    <option></option>
                </select>
                <label for="patente">Patente: </label>
                <select  id="patente" class="form-control">
                    <option></option>
                </select>
                <button id="btn-registrarme" class="btn boton-principal" Type="Submit" style="margin-top: 10px"> + Agregar Vehiculo</button>
            </form>
        </div>
    </div>

</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
</body>
</html>