<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Opciones</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<nav class="navbar colorOscuro-2 navbar-expand-md navbar-dark flex-md-column" style="height: 100vh; width: 30vw;">
    <a class="navbar-brand" href="/spring/home"><img src="static/logo.png"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/spring/verMisVehiculos">Mis Vehiculos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/spring/nuevo-vehiculo">Agregar Vehiculo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login.html">Volver</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/sintoma}" id="irSintoma">Ir a Síntoma</a>
            </li>
        </ul>
    </div>
</nav>
<main role="main" class="container mainc">

    <div >
        <h1>Opciones</h1>

        <div class="container mt-3">

            <a th:href="@{/nuevoSintoma}" class="btn btn-outline-dark mr-2">Nuevo Síntoma</a>

            <a th:href="@{/mostrarSintomaPorItem}" class="btn btn-outline-dark">Tengo un item en mi tablero...</a>

            <a th:href="@{/mostrarVariosSintomasPorVariosItem}" class="btn btn-outline-dark">Tengo varios items en mi tablero...</a>

        </div>
    </div>
</main>



<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

