<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-3">

    <div class="container mt-3">
        <a th:href="@{/nuevoSintoma}" class="btn btn-primary float-right">Nuevo Síntoma</a>
        <h1>Bienvenido a la aplicación</h1>
    </div>



</div>

<!-- Bootstrap JS (opcional, si necesitas funcionalidad de Bootstrap) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
