<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Opciones</title>
    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<main>
    <!-- Incluir el fragmento del sidebar -->
    <div th:include="templates/sidebar.html"></div>

        <div class="container" style="margin-top:50px;">
            <h2 class="tituloE2E">Diagnosticar</h2>
            <br>
            <h3 class="tituloE2E">Opciones</h3>
            <br>
            <a th:href="@{/nuevoSintoma}" class="btn boton-principal mr-2 nuevoSintoma">Nuevo Síntoma</a>

            <a th:href="@{/mostrarSintomaPorItem}" class="btn boton-principal ItemEnTablero">Tengo un item en mi tablero...</a>

            <a th:href="@{/mostrarSintomasPorItems}" class="btn boton-principal">Tengo varios items en mi tablero...</a>
        </div>

</main>



<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
</body>
</html>

